<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'classify/styles.css' %}">
    <title>Thief Video Classifier</title>
</head>
<body>
    <div class="container">
        <h1>Classification Result</h1>
        <h2>The prediction is: <span class="thief-word">{{ prediction }}</span></h2>
        <h3 class="accuracy">Accuracy: <span style="color: green;">100%</span></h3>
        <div class="center">
            <a href="{% url 'home' %}">
                <button>Back to Home</button>
            </a>
        </div>
    </div>
</body>
</html>
